<mat-label class="text-start">
  {{ label }}
  <mat-icon color="warn" class="required-icon" *ngIf="isRequiredValidator">*</mat-icon>
  <mat-icon
    color="primary"
    class="question-icon"
    *ngIf="hint"
    matTooltipPosition="above"
    [matTooltip]="hint"
    >{{ 'shared.question' | translate }}</mat-icon
  >
</mat-label>
<mat-form-field appearance="outline" class="d-flex pt-3">
  <!-- [disabled]="isDisabled" -->
  <input
    matInput
    [matDatepicker]="picker"
    [formControl]="controlF"
    [placeholder]="placeholder"
    (click)="picker.open()"
    [id]="id"
  />
  <!-- <mat-hint>{{hint}}</mat-hint> -->
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  @if (controlF.hasError('required')) {
  <mat-error
    >{{ label }}
    <strong>{{ 'valdation.required' | translate }}</strong></mat-error
  >
  }
</mat-form-field>

<mat-error *ngIf="error" style="margin-top: -18px; font-size: 12px">
  <strong>{{ error | translate }}</strong>
</mat-error>
