.mat-divider {
    margin-block: 0px !important;
}
.mat-icon {
    margin-bottom: -5px;
}

.mat-mdc-list-base {
    display: inline-block;
}
.mdc-list-item, .mdc-list-item{
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow: visible !important;
}