
// :host ::ng-deep .mdc-text-field--outlined {
//   background-color: #fbfbfb !important;
// }
::ng-deep .mdc-notched-outline__leading {
  border-color: #E0DFE0 !important;
  border-width: 1px !important ;
}
::ng-deep .mdc-notched-outline__notch {
  border-color: #E0DFE0 !important;
  border-width: 1px !important ;
}
::ng-deep .mdc-notched-outline__trailing {
  border-color: #E0DFE0 !important;
  border-width: 1px !important ;
}

::ng-deep.mat-mdc-text-field-wrapper .mdc-text-field .mdc-text-field--outlined.mdc-text-field--invalid{
  border: 1px solid  #D31212!important;
  border-radius: 4px !important;
background-color: #FFF0F0 !important;
}

::ng-deep .mdc-text-field--outlined.mdc-text-field--invalid{
  border: 1px solid  #D31212!important;
  border-radius: 4px !important;
  background-color: #FFF0F0 !important;

}