.rounded{
    // background-color: #fbfbfb !important;
    border-color: #E0DFE0 !important;
    border-width: 1px !important ;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.input-file{
    background-color: transparent !important;
}
.btn-primary{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}