.image-container {
    display: flex;
    // justify-content: flex-end;
    align-items: center;
    position: relative;

  }
  .mat-mdc-card{
    box-shadow: none;
  }
  .profile-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    // position: relative;
    border: solid 1px #eee;
    border-radius: 50%;
   .defult_avatar{
    cursor: pointer;
    width: 100%;
   }
   .camira_icon{
    position: absolute;
    right: 69px;
    bottom: 0px;
    width: 33px;
    // z-index: 9999999999999;
   }
  }
  .avatar_text{
    // margin-right: 20px;
  }
  .profile-image span {
    font-size: 12px;
    text-align: center;
  }
  
  .image-info {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .upload-box {
    border: 2px dashed gray;
    padding: 20px;
    text-align: center;
    margin: 20px;
  }
  
  .buttons {
    margin-top: 20px;
  }

  .image-container {
    // تخطيط الصورة والمعلومات المرتبطة بها
  }
  
  .profile-image {
    // تنسيق الصورة الافتراضية والنص المرتبط بها
  }
  
  .image-preview {
    // تنسيق معاينة الصورة المرفقة
  }
  
  .buttons {
    // تنسيق الأزرار (تغيير الصورة وحذف الصورة)
  }
  
  // أضف أي تنسيقات إضافية حسب الحاجة

  .profile-picture-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    border: 2px dashed gray;
    margin-bottom: 20px;
    position: relative;
  
    img {
      max-width: 100%;
      max-height: 100%;
      cursor: pointer;
    }
  
    .placeholder {
      color: gray;
      cursor: pointer;
    }
  }
  
  .controls {
    display: flex;
    align-items: center;
    justify-content: center;
  
    button {
      margin: 0 5px;
    }
  }

  .img_prev_title{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin: 25px;
  }
  .img_prev_container{
    width: 45%;
    height: 420px;
    border: solid 1px #1B4681;
    position: relative;
    margin: auto;
    .logo_taqeem{
      position: absolute;
      top: 15px;
      right: 20px;
      height: 40px;
    }
    .img_info{
      padding: 30px 0;
      color: #424143;
      text-align: center;
      width: 65%;
      margin: auto;
    }

  }
  .image-upload-container {
    position: relative;
    width: 170px;
    height: 190px;
    margin: auto;
    margin-top: 25%;
    cursor: pointer;
    display: block;
    overflow: hidden;
    border: solid 3px #1B4681;
    .div1{
      width: 70%;
    height: 30px;
    background-color: #0FA69C;
    position: absolute;
    top: 68%;
    z-index: 999
    }
    .div2{
      width: 100%;
      height: 30px;
      background-color: #1B4681;
      position: absolute;
      top: 84%;
      z-index: 99;
    }
    .div3{
      width: 70%;
      height: 30px;
      background-color: #fff;
      position: absolute;
      top: 84%;
      z-index: 990;
    }
  }
  
  .image-upload-container img {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }

  
  .zoom-controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    margin: auto;
    margin-top: 25px;
  }
  mat-slider {
    width: 300px;
    padding: 0;
    margin: 0;
    margin-left: -10px;
  }

  .img_prev_btns{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    width: 28%;
    span{
      cursor: pointer;
    }
    svg{
      margin: 8px;
    }
  }
  
  .save_btn{
    padding: 40px;
  }
.image-info p{
  display: flex;
}
::ng-deep.mat-mdc-dialog-container{
  overflow: auto !important;
}