<mat-card>
  <mat-card-content>

    <div class="image-container">
      <div class="profile-image" (click)="openDialog()">
        <img  *ngIf="!sanitizeImagePreview"  class="defult_avatar" src="../../../../../assets/img/avatar_defult.png" alt="">
        <img class="defult_avatar" [src]="sanitizeImagePreview" *ngIf="sanitizeImagePreview" />

        <img  class="camira_icon" src="../../../../../assets/img/camira_icon.png" alt="">
        <!-- <span>انقر هنا لإضافة الصورة الشخصية</span> -->
      </div>
      <div>
        <img *ngIf="lang !== 'en'" class="avatar_text" src="../../../../../assets/img/avatar_text_ar.png" alt="">
        <img *ngIf="lang == 'en'" class="avatar_text" src="../../../../../assets/img/avatar_text_en.png" alt="">
      </div>
    </div>
    <div class="image-info">
      <p> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11 15H13V17H11V15ZM11 7H13V13H11V7ZM11.99 2C6.47 2 2 6.48 2 12C2 17.52 6.47 22 11.99 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 11.99 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20Z"
            fill="#1A4681" />
        </svg>
       {{'evaluators.img_terms1' | translate}}
      </p>
      <p> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11 15H13V17H11V15ZM11 7H13V13H11V7ZM11.99 2C6.47 2 2 6.48 2 12C2 17.52 6.47 22 11.99 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 11.99 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20Z"
            fill="#1A4681" />
        </svg>

        {{'evaluators.img_terms2' | translate}}
      </p>
      <p> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11 15H13V17H11V15ZM11 7H13V13H11V7ZM11.99 2C6.47 2 2 6.48 2 12C2 17.52 6.47 22 11.99 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 11.99 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20Z"
            fill="#1A4681" />
        </svg>

        {{'evaluators.img_terms3' | translate}}
      </p>
      <p> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11 15H13V17H11V15ZM11 7H13V13H11V7ZM11.99 2C6.47 2 2 6.48 2 12C2 17.52 6.47 22 11.99 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 11.99 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20Z"
            fill="#1A4681" />
        </svg>

        {{'evaluators.img_terms4' | translate}}
      </p>
      <p> <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11 15H13V17H11V15ZM11 7H13V13H11V7ZM11.99 2C6.47 2 2 6.48 2 12C2 17.52 6.47 22 11.99 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 11.99 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20Z"
            fill="#1A4681" />
        </svg>

        {{'evaluators.img_terms5' | translate}}
      </p>
    </div>
  </mat-card-content>
</mat-card>
<div fxLayout="row" fxLayoutAlign="space-evenly stretch" class="pb-4 pt-5">
  <cancel-button
    fxFlex="80"
    [label]="'shared.back' | translate"
    (buttonClick)="goToBack()">
  </cancel-button>
  <app-shared-button
    fxFlex="20"
    [label]="'personalInfo.Saveandcontinue' | translate"
    (buttonClick)="submitForm()">
  </app-shared-button>
</div>

<ng-template #dialogTemplate class="img_popup_container">
 <app-add-image-profile></app-add-image-profile>
  </ng-template>
