<!-- <mat-divider></mat-divider> -->

<mat-card>
  <mat-card-content>
    <div class="text-center">
      <span>
        <img src="assets/img/logo-taqeem.svg" class="img-style" />
      </span>
      <h2 class="custom-text-head">{{ "signup.stepOneLabel" | translate }}</h2>
      <p class="mb-0">
        {{ "signup.PersonalInfoNonSuadiHeaderParagraph" | translate }}
      </p>
    </div>
    <mat-divider></mat-divider>

    <form [formGroup]="form">
      <h2 class="custom-text-head-20">
        {{ "signup.NameinArabic" | translate }}
      </h2>

      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="space-between stretch"
      >
        <div fxFlex="24" fxLayoutGap="20px">
          <input-field
            [id]="'FirstNameAr'"
            [label]="('signup.FirstName' | translate) + ''"
            [placeholder]="'personalInfo.EnterYourName' | translate"
            [controlF]="form.get('FirstNameAr')"
          />
        </div>
        <div fxFlex="24">
          <input-field
            [id]="'SecondNameAr'"
            [label]="('signup.SecondName' | translate) + ''"
            [placeholder]="'personalInfo.EnterYourName' | translate"
            [controlF]="form.get('SecondNameAr')"
          />
        </div>
        <div fxFlex="24">
          <input-field
            [id]="'GrandfatherNameAr'"
            [label]="('signup.GrandfatherName' | translate) + ''"
            [placeholder]="'personalInfo.EnterYourName' | translate"
            [controlF]="form.get('GrandfatherNameAr')"
          />
        </div>
        <div fxFlex="24">
          <input-field
            [id]="'LastNameAr'"
            [label]="('signup.LastName' | translate) + ''"
            [placeholder]="'personalInfo.EnterYourName' | translate"
            [controlF]="form.get('LastNameAr')"
          />
        </div>
      </div>
      <h2 class="custom-text-head-20">
        {{ "signup.NameinEnglish" | translate }}
      </h2>

      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="space-between stretch"
      >
        <div fxFlex="24" fxLayoutGap="20px">
          <input-field
            [id]="'FirstNameEn'"
            [label]="('signup.FirstName' | translate) + ''"
            [placeholder]="'personalInfo.EnterYourName' | translate"
            [controlF]="form.get('FirstNameEn')"
          />
        </div>
        <div fxFlex="24">
          <input-field
            [id]="'SecondNameEn'"
            [label]="('signup.SecondName' | translate) + ''"
            [placeholder]="'personalInfo.EnterYourName' | translate"
            [controlF]="form.get('SecondNameEn')"
          />
        </div>
        <div fxFlex="24">
          <input-field
            [id]="'GrandfatherNameEn'"
            [label]="('signup.GrandfatherName' | translate) + ''"
            [placeholder]="'personalInfo.EnterYourName' | translate"
            [controlF]="form.get('GrandfatherNameEn')"
          />
        </div>
        <div fxFlex="24">
          <input-field
            [id]="'LastNameEn'"
            [label]="('signup.LastName' | translate) + ''"
            [placeholder]="'personalInfo.EnterYourName' | translate"
            [controlF]="form.get('LastNameEn')"
          />
        </div>
      </div>
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="space-between stretch"
      >
        <div fxFlex="49" fxLayoutGap="20px">
          <app-auto-complete
            [label]="('personalInfo.IDType' | translate) + ''"
            [placeholder]="'personalInfo.SelectIDType' | translate"
            [control]="form.get('IDType')"
            [options]="IDType"
            [id]="'IDType'"
          />
        </div>
        <div fxFlex="49">
          <input-field
            [id]="'IDNumber'"
            [label]="('personalInfo.IDNumber' | translate) + ''"
            [placeholder]="'personalInfo.EnterYourIDNumber' | translate"
            [controlF]="form.get('IDNumber')"
          />
        </div>
      </div>
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="space-between stretch"
      >
        <div fxFlex="49" fxLayoutGap="20px">
          <app-auto-complete
            [label]="('personalInfo.Nationality' | translate) + ''"
            [placeholder]="'personalInfo.SelectYourNationality' | translate"
            [control]="form.get('nationality')"
            [options]="nationality"
            [id]="'nationality'"
          />
        </div>
        <div fxFlex="49">
          <app-auto-complete
            [label]="('personalInfo.Gender' | translate) + ''"
            [placeholder]="'personalInfo.SelectYourGender' | translate"
            [control]="form.get('gender')"
            [options]="gender"
            [id]="'gender'"
          />
        </div>
      </div>
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="space-between stretch"
      >
        <!-- <div fxFlex="49" fxLayoutGap="20px">
          <app-date-picker
            [label]="('personalInfo.DateofbirthGregorian' | translate) + ''"
            [placeholder]="
              'personalInfo.SelecYourtDateofbirthGregorian' | translate
            "
            [type]="'date'"
            [controlF]="form.get('DOPGregorian')"
            [dateType]="'en'"
          />
        </div> -->
        <div fxFlex="100">
          <!-- <app-date-picker
            [label]="('personalInfo.DateofbirthHijri' | translate) + ''"
            [placeholder]="
              ('personalInfo.SelecYourtDateofbirthHijri' | translate) + ''
            "
            [type]="'date'"
            [controlF]="form.get('DOPHijri')"
            [dateType]="
              form.get('IDNumber')?.value?.toString()[0] == 1 ? 'ar-SA' : 'en'
            "
            [id]="'DOPHijri'"
          /> -->
          <app-hijri-date-picker
          [label]="('personalInfo.DateofbirthHijri' | translate) + ''"
          [placeholder]="
          ('personalInfo.SelecYourtDateofbirthHijri' | translate) + ''
        "          [type]="'date'"
          [controlF]="form.get('DOPHijri')"
          [dateType]="'ar'"
          [id]="'DOPHijri'"
        />
        </div>
      </div>
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="space-between stretch"
      >
        <div fxFlex="49" fxLayoutGap="20px">
          <input-field
            [id]="'email'"
            [label]="('personalInfo.Email' | translate) + ''"
            [placeholder]="'personalInfo.EnterYourEmail' | translate"
            [controlF]="form.get('email')"
          />
        </div>
        <div fxFlex="49">
          <app-input-group
            [optionsLabel]="''"
            [optionsPlaceholder]="'nationalAddress.Choose' | translate"
            [options]="phoneCode"
            [optionscontrolF]="form.get('countryKey')"
            [inputLabel]="('personalInfo.MobileNumber' | translate) + ''"
            [inputPlaceholder]="
              'personalInfo.EnterYourMobileNumber' | translate
            "
            [controlF]="form.get('mobileNumber')"
            [id]="'mobileNumber'"

          />
        </div>
      </div>
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="space-between stretch"
      >
        <div fxFlex="49" fxLayoutGap="20px">
          <input-field
            [id]="'passward'"
            [label]="('personalInfo.Passward' | translate) + ''"
            [placeholder]="'personalInfo.EnterYourPassward' | translate"
            [controlF]="form.get('passward')"
            [type]="'password'"
            [hint]="'personalInfo.passwordHint' | translate"
            [error]=" form.get('passward')?.hasError('minlength') ?  ('valdation.minLength' | translate : { minLength: 8 }) : ''"
          />
        </div>
        <div fxFlex="49">
          <input-field
            [id]="'confirmPassward'"
            [label]="('personalInfo.ConfirmPassward' | translate) + ''"
            [placeholder]="'personalInfo.EnterYourConfirmPassward' | translate"
            [controlF]="form.get('confirmPassward')"
            [type]="'password'"
            [error]="form.hasError('passwordMismatch')
            ? ('errors.confirmPasswardError' | translate): ''"
          />
        </div>
      </div>
    </form>
    <div
      style="
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center space-between;
        align-items: center;
        flex-wrap: wrap;
      "
      class="mt-4"
    >
    <div fxFlex="62" class="backToSignup">
      <a
        class="a-text-underline-bold"
        (click)="backToSignup()"
        [id]="'backToSignup'"
      >
        {{ "signup.backToSignup" | translate }}
      </a>
    </div>
     
        <div fxFlex="12" >
        <!-- <span> -->
        <cancel-button [label]="'personalInfo.Cancel' | translate">
        </cancel-button>
        <!-- </span> -->
      </div>
      <div fxFlex="20" >
        <span class="margin-inline-end-20">
          <app-shared-button
            [label]="'personalInfo.Saveandcontinue' | translate"
            (buttonClick)="submit()"
            [isDisabled]="!form.valid"
            [id]="'submitBtn'"

          >
          </app-shared-button>
        </span>
        </div>
    </div>
  </mat-card-content></mat-card
>
