<div class="popup-alert">
  <figure class="text-center popup-alert__imageContainer">
    <img src="./../../../../assets/img/auth/Checkmark Circle.svg"  alt="" srcset="" />
  </figure>
  <h4 class="text-center">{{ "popup.RegisterSuccess" | translate }}</h4>
  <div class="popup-alert__btnContainer">
    <!-- <button class="popup-alert__btnContainer__primary">
      تحقق من رقم الهاتف
    </button> -->
    <button class="popup-alert__btnContainer__secondary" (click)="close()">الصفحة الرئيسة</button>
  </div>
</div>
